<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar hide">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg"/>
        <h2>John D.</h2>
    </header>
    <ul>
        <li tabindex="0" class="menu-orange" [ngClass]="{'active': activeState === 'dashboard1'}" (click)="setActiveState('dashboard1')" ><i class="icon-fullscreen_exit x2"></i><span>Manu Item 1</span></li>
        <li tabindex="0" class="menu-yellow" [ngClass]="{'active': activeState === 'dashboard2'}" (click)="setActiveState('dashboard2')" ><i class="icon-wifi_tethering x2"></i><span>Manu Item 2</span></li>
        <li tabindex="0" class="menu-off-green" [ngClass]="{'active': activeState === 'dashboard3'}" (click)="setActiveState('dashboard3')" ><i class="icon-dashboard x2"></i><span>Manu Item 3</span></li>
        <li tabindex="0" class="menu-green-2" [ngClass]="{'active': activeState === 'dashboard4'}" (click)="setActiveState('dashboard4')" ><i class="icon-playlist_add_check x2"></i><span>Manu Item 4</span></li>
        <li tabindex="0" class="menu-green-3" [ngClass]="{'active': activeState === 'dashboard5'}" (click)="setActiveState('dashboard5')" ><i class="icon-search x2"></i><span>Manu Item 5</span></li>
        <li tabindex="0" class="menu-blue" [ngClass]="{'active': activeState === 'dashboard6'}" (click)="setActiveState('dashboard6')" ><i class="icon-search x2"></i><span>Manu Item 6</span></li>
        <li tabindex="0" class="menu-purple" [ngClass]="{'active': activeState === 'dashboard7'}" (click)="setActiveState('dashboard7')" ><i class="icon-info_outline x2"></i><span>Manu Item 7</span></li>
        <li tabindex="0" class="menu-purple-2" [ngClass]="{'active': activeState === 'dashboard8'}" (click)="setActiveState('dashboard8')" ><i class="icon-info_outline x2"></i><span>Manu Item 8</span></li>
        <li tabindex="0" class="menu-pink" [ngClass]="{'active': activeState === 'dashboard9'}" (click)="setActiveState('dashboard9')" ><i class="icon-info_outline x2"></i><span>Manu Item 9</span></li>
        <li tabindex="0" class="menu-gray" [ngClass]="{'active': activeState === 'dashboard10'}" (click)="setActiveState('dashboard10')" ><i class="icon-info_outline x2"></i><span>Manu Item 10</span></li>
    </ul>
</nav>
